# data
data/
datasets/
*.zip
*.tar.gz

# outputs
runs/
artifacts/
outputs/
*.pt
*.pth
*.ckpt
*.onnx
*.npy

# logs
*.log
wandb/
mlruns/

# notebooks
.ipynb_checkpoints/

# python
__pycache__/
*.pyc
.venv/
.env



work/
